* {
    box-sizing: border-box;
    --color-white: #ffffff;
    --color-bright: #e0d0d0;
    --color-blue: #aaaaff;
    --color-gray: #595959;
    --color-light-gray: #8e8e8e;
    --color-red: #9b1616;
    --color-green: #199719;
    --color-indigo: #9683ec;
    --color-indigo-dark: #7630ff;

    --padding: 1em;
    font-size: 102.5%;
}

hr {
    height: 0.1em;
    margin-top: 2em;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 2px dashed gray;
    width: 100%;
}

h1 {
    font-size: 1.75em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
}

h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

body {
    margin: 0;
    background-color: #1d1d1d;
    background-image: url("/images/quilmon/body.png");
    image-rendering: pixelated;

    font-family: sans-serif;
    color: var(--color-bright);
}

a {
    color: var(--color-blue);
}

a, a:visited {
    text-decoration: none;
}

li {
    text-align: justify;
}

p {
    margin-top: 1.5rem;
    text-align: justify;
}

.p--warning {
    color: var(--color-orange);
    font-weight: bold;
}

.span--note {
    color: var(--color-light-gray);
    font-size: smaller;
}

.h--marginb {
    margin-bottom: 0;
}

/* Header */
.nav-container {
    background-image: url("/images/quilmon/header.png");
    image-rendering: pixelated;
    height: 48px;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.nav {
    margin: auto;
    max-width: 68.5rem;

    display: flex;
    flex-direction: row;
    place-items: center;
    column-gap: 1em;
    height: 100%;
}

.nav_logo {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    padding: 0.25rem 0;
    height: 50px;
    width: auto;
}

.nav_links--start {
    text-align: start;
}
.nav_links--end {
    text-align: end;
    flex: 1;
}

.nav_link {
    font-weight: bold;
    padding: 0.5em;
}

.nav_link--white {
    color: var(--color-white);
}

/* Main container */
.main {
    display: flex;
    place-content: center;
    column-gap: 2em;
    row-gap: 2em;

    max-width: 70rem;
    margin: 2rem auto auto;

    padding-left: var(--padding);
    padding-right: var(--padding);
}

/* Footnote */
.footer {
    margin: 2em;
    text-align: center;
    color: var(--color-gray);
    font-size: smaller;
}

/* Common elements */
.button {
    background: linear-gradient(#9e9e9e, #4e4e4e);
    color: var(--color-white);
    font-weight: bold;
    text-align: center;

    display: flex;
    place-items: center;
    place-content: center;

    border-radius: 0.25em;
    padding: 0.5em 1em;
}

.button--indigo {
    background: linear-gradient(var(--color-indigo), var(--color-indigo-dark));
}

.download-now {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.download-now_button {
    font-size: larger;
    margin-top: 0.5em;
}