/*Background*/
body {
    margin: 0;
    height: 100vh;
    background-color: #8cb9d5;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAiIGhlaWdodD0iODAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBvbHlnb24gcG9pbnRzPSI0MCwwIDgwLDQwIDQwLDgwIDAsNDAiIGZpbGw9IiM2ODg4YmQiLz4KPC9zdmc+');
    background-repeat: repeat;
    background-size: 80px 80px;
    animation: moveDiamond 8s linear infinite;
  }

@keyframes moveDiamond {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 80px 80px;
    }
  }

/*font*/  
@font-face {
    font-family: 'pmd';
    src: url(FOT-UDMarugo_SmallPr6-B.otf);
}

/*global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pmd';
}

.content {
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 0 36%;
}

.content-text h1 {
    font-size: 64px;
    font-weight: 400;
}

.content-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

img {
  width: 75%;
  height: 75%;
}

.content-bottom {
    height: 14vh;
    display: flex;
    align-items: center;
    padding: 0 36%;
}

.content-bottom-text h1 {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 255, 255, 0);
}